<div class="container p-5">
    <div class="border boder-light rounded p-5">
      <h1>Orders</h1>

      <hr />

      <table class="table table-striped table-hover table-sm" *ngIf="orders">
        <tr class="thead-light">
          <th>Order</th>
          <th>Date</th>
          <th>Total</th>
        </tr>
  
        <tr *ngFor="let order of orders">
          <td>{{ order.orderId }}</td>
          <td>{{ order.orderDate | date: 'dd/MM/yyyy, HH:mm' }}</td>
          <td>{{ order.total }}</td>
        </tr>
      </table>
      <div class="pl-1">
        <button type="button" class="btn btn-sm btn-light" (click)="Voltar()">Voltar</button>
        </div>
    </div>   
  </div>